@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap');


.bar{
  max-width: 18%;
  height: 100vh;
  padding: 30px 30px 0 20px;
  border-right: 0.5px solid #E5E4E4;
  position: fixed;
  &__nav{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    font-size: 21px;
    color: #ffffff;
    padding-top: 30px;
    a{
      color: white;
      font-size: 18px;
    }
    &-bottom{
      padding-top: 55%;
      font-size: 18px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      a{
        color: #ffffff;
      }
    }
    &-item{
      display: flex;
      align-items: center;
      column-gap: 10px;
      font-size: 25px;
      font-family: "Reddit Sans Condensed", sans-serif;
      font-weight: 400;
    }
    &-avatar{
      width: 9%;
      height: 9%;
      border-radius: 50%;
      border: solid 1px #ffffff;
      padding: 2px;
    }
  }
  &__logo{
    svg{
      fill: white;
    }
  }
}