.home{
  padding: 30px 0;
  &__top{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    &-stories{
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 3px;
      img{
        border-radius: 50%;
        border: solid 1.5px #884EA0;
        height: 65px;
        width: 65px;
        padding: 2px;
      }
    }
    &-name{
      color: #ffffff;
    }
  }
  &__post{
    padding-left: 32%;
    padding-top: 20px;
    &-item{
      width: 50%;
      img{
        width: 100%;
      }
    }
    &-profile{
      display: flex;
      align-items: center;
      column-gap: 5px;
      padding-bottom: 10px;
      img{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: solid 1px #884EA0;
        padding: 3px;
      }
    }
    &-name{
      color: #ffffff;
      font-size: 16px;
    }
    &-icons{
      color: #ffffff;
      font-size: 27px;
      display: flex;
      align-items: center;
      column-gap: 15px;
      padding-top: 10px;
    }
  }
  }
