*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  transition: 0.5s;
  background: black;
  color: #ffffff;
}
.container{
  max-width: 1190px;
  padding: 0 25px;
  width: 100%;
  margin: 0 auto;
}
@import "bar";
@import "users";
@import "serchBar";